name: Lint YAML
on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.14

    - name: Install yamllint
      run: |-
        pip3 install --user wheel 
        pip3 install --user yamllint==1.26.3

    - name: Lint YAML files
      working-directory: src
      run: yamllint --format parsable -c ../.yamllint .
